CF_API_TOKEN="xxxx"
CF_ZONE_ID="xxxx"
CF_DNS_NAME="test.xxx"
PUSHPLUS_TOKEN="cfb7f6315db3487d89db858198eee996"
CF_YX_URL="https://bpc.discover.ccwu.cc/fast-ips.txt?token=tqKK2Xfi33rpbs1CejCbbQr5Nd0YpPIa"
